.jumbotron {
    background: #1d2124;
    color: #dee2e6;
}

body, .container {
    background: #000;
    color: #666;
}

h3 {
    color: cyan;
}

h2 {
    color: whitesmoke;
}

footer h5 {
    color: wheat;
}